.conteiner{
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Para telas maiores (desktop) */
@media (min-width: 1024px) {
    .conteiner {
        max-width: 1200px;
    }
}

/* Para tablets */
@media (max-width: 1024px) {
    .conteiner {
        width: 90%;
        padding: 15px;
    }
}

/* Para celulares */
@media (max-width: 768px) {
    .conteiner {
        width: 95%;
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

h1, 
p, 
h2, 
h3{
    color: white;
}

.highlight-blue{
    color: blue;
}

.highlight-purple {
    color:#5719a8;
    border: 1px solid #5719a8;
    padding: 10px;
}

.bold-purple{
    color: #5719a8;
}

h1{
    font-size: 2.5rem;
}

.contact-button{
    background-color: #6537a1;
}

.bold-blue{
    color: blue;
}

.bold-yellow{
    color: yellow;
}

.italic{
    font-style: italic;
}

li{ 
    color: white;
}

.instagram{
    color: white;
}

.whatsapp{
    color: white;
}